body {
    margin: 10px;
    padding: 0px;
    width: 100%;
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    flex-wrap: wrap;
    justify-content: center;
}
#firstSection {
    background-color: #accc7b;
    width: 1200px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    #logo {
        width: 250px;
        height: 100px;
    }

    #opciones {
        min-width: 400px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        a {
            color: rgb(3, 1, 54);
            text-decoration: none;
            text-align: right;
            font-size: 14pt;
            transition: color 0.3s ease;
            margin: 5px;
            padding: 5px;
        }
        a:hover{
            
            color: rgb(242, 242, 247);
        }
    }

    .shopcart {
        width: 60px;
    }
}
#calendario {
    background-color: #accc7b;
    width: 1200px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: -10px;
    div {
        padding: 10px;
        font-size: 14pt;
        font-weight: 600;
    }
}

#banner {
    width: 1200px;
    height: 400px;
    margin-top: 30px;
    margin-bottom: 30px;
}
#confianza {
    width: 1200px;
    height: 200px;
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    div {
        width: 390px;
        height: 200px;
        display: flex;
        align-items: center;
        img {
            width: 150px;
            height: 150px;
        }
        div {
            width: 240px;
            height: 150px;
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            b {
                font-size: 16pt;
                width: 100%;
                height: 40px;
                text-align: center;
            }
            span {
                font-size: 12pt;
                width: 100%;
                height: 40px;
                text-align: center;
            }
        }
    }
}

#footer {
    width: 1200px;
    height: 20px;
    padding-top: 10px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    border-top: 1px solid #6684ac;
}

.sociales {
    width: 50px;
    height: 50px;
    margin-top: 15px;
   align-content: center;
    display: inline-block;
}
